.popup-command-box {
    margin: 4px 16px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    background: #ffffff;
}

.popup-command-summary-box,
.popup-command-command-box,
.popup-command-votes-box {
    padding: 8px 4px;
    margin: 0 0 0 4px;
}

.popup-command-summary {
    font-size: 18px;
}
.popup-command-command-box {
    background: #333333;
    padding: 8px;
}
.popup-command-command,
.search-command-command {
    color: #A2FCA2;
}
.popup-command-votes-box {
}

.system-control-button {
    border-radius: 6px;
    padding: 8px;
}

.search-control-button:focus,
.search-control-button:hover,
.system-control-button:focus,
.system-control-button:hover {
    background: #eee;
}

.command-feed-dialog-title {
    font-size: 18px;
}

.search-command-box {
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #ffffff;
    padding: 6px;
}
.search-command-summary {
    font-size: 16px;
}
.search-command-command-box {
    margin: 8px 0 0 0;
    background: #333333;
    padding: 8px;
    border-radius: 6px;
}
.search-control-button {
    background: #ffffff;
    width: 38px;
    height: 38px;
    margin: 18px 0 18px 3px;
    border-radius: 6px;
}
